<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <style>
      body {
        padding: 8px;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <h1>Add a survey</h1>
    <form method="post" th:action="@{/savesurvey}" th:object="${survey}">
      <div class="form-group">
        <label for="name"
          >Name: <input type="text" id="name" th:field="${survey.name}"
        /></label>
      </div>
      <div class="form-group">
        <label for="description"
          >Description:
          <input type="text" id="description" th:field="${survey.description}"
        /></label>
      </div>
      <div class="form-group" style="margin-bottom: 8px">
        <h6>Survey answering period</h6>
        <label
          >Start:
          <input
            type="text"
            id="startdate"
            th:field="*{startDate}"
            placeholder="dd/mm/yyyy"
          />
        </label>
        <label>
          End:
          <input
            type="text"
            id="enddate"
            th:field="${survey.endDate}"
            placeholder="dd/mm/yyyy"
          />
        </label>
      </div>
      <div class="question-inputs">
        <div class="form-group row" style="align-content: center">
          <div class="col">
            <label>Question:</label>
            <input
              type="text"
              class="form-control"
              name="questions"
              th:field="${survey.questions}"
            />
          </div>
          <div class="col">
            <label for="type">Type:</label>
            <select
              id="type"
              name="questionTypes"
              th:field="${survey.questionTypes}"
              class="form-control question-type"
              onchange="updateQuestionTypes()"
            >
              <option type="text" value="text">Text</option>
              <option type="text" value="radiobutton">Radiobutton</option>
            </select>
          </div>
          <div class="col" style="align-self: end">
            <button
              type="button"
              class="btn btn-danger"
              onclick="removeQuestion(this)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-secondary" onclick="addQuestion()">
        Add question
      </button>
      <div style="margin-top: 8px">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
        <a class="btn btn-secondary" href="/surveylist">Back to surveys</a>
      </div>
    </form>
    <input
      type="hidden"
      id="surveyQuestionTypes"
      name="surveyQuestionTypes"
      th:field="${survey.questionTypes}"
    />

    <script>
      function addQuestion() {
        var container = document.querySelector(".question-inputs");
        var newInput = document.createElement("div");
        newInput.classList.add("form-group", "row");
        newInput.innerHTML =
          '<div class="col">' +
          '<label>Question:</label> <input type="text" class="form-control" name="questions" th:field="${survey.questions}"/> </div>' +
          '<div class="col">' +
          '<label for="type">Type:</label>' +
          '<select class="form-control question-type" name="questionTypes"> onchange="updateQuestionTypes()"' +
          '<option type="text" value="text">Text</option>' +
          '<option type="text" value="radiobutton">Radiobutton</option>' +
          "</select>" +
          "</div>" +
          '<div class="col" style="align-self: end"><button type="button" class="btn btn-danger" onclick="removeQuestion(this)">Delete</button></div>';
        container.appendChild(newInput);
      }

      function removeQuestion(button) {
        var divToRemove = button.parentNode.parentNode;
        divToRemove.parentNode.removeChild(divToRemove);
      }

      function updateQuestionTypes() {
        var questionTypes = document.querySelectorAll(".question-type");
        var selectedTypes = [];
        questionTypes.forEach(function (type) {
          selectedTypes.push(type.value);
        });
        document.getElementById("surveyQuestionTypes").value =
          selectedTypes.join(",");
      }
    </script>
  </body>
</html>
