<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <h1>Add a survey</h1>
    <br/>
    <form method="post" th:action="@{/savesurvey}" th:object="${survey}">
      <label for="name">Name: <input type="text" id="name" th:field="${survey.name}" /></label>
      <br/>
      <Label for="description">Description: <input type="text" id="description" th:field="${survey.description}" /></Label>
      <br/>
      <br/>
      <input type="submit" value="Submit" />
      <br/>
      <br/>
      <input type="reset" value="Reset" />
    </form>
  </body>
</html>
