<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Edit question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <h1>Edit question</h1>
    <form
      th:object="${question}"
      th:action="@{/saveeditedquestion}"
      method="post"
    >
      <input type="hidden" value="${question.id}" />
      <input th:field="${question.questionText}" />
      <div class="col">
        <label for="type">Type:</label>
        <select
          id="type"
          name="questionTypes"
          th:field="${question.type}"
          class="form-control question-type"
        >
          <option type="text" value="text">Text</option>
          <option type="text" value="radiobutton">Radiobutton</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
</html>
