<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edit survey</h1>
    <form th:object="${survey}" th:action="@{/savesurveyedit}" method="post">
      <input type="hidden" th:field="*{id}" />
      <div>
        <label>Name: <input type="text" th:field="*{name}" /></label><br />
        <label
          >Description: <input type="text" size="50%" th:field="*{description}"
        /></label>
          <ul>
            <li th:each="question : ${questions}">
                <span th:text="${question.questionText}"></span>
        </li>
    </ul>
        </div>
      </div>
      <input type="submit" value="save" />
    </form>
  </body>
</html>
