<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>List of surveys</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>

  <body>
    <div class="container">
      <h1>Surveys</h1>
      <h2>Rahti(Testaus)</h2>

      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th></th>
          <th></th>
        </tr>
        <tr th:each="survey : ${surveys}">
          <td th:text="${survey.name}"></td>
          <td th:text="${survey.description}"></td>
          <td>
            <a
              class="btn btn-primary"
              th:href="@{/surveyquestions/{id}(id=${survey.id})}"
              >Show questions</a
            >
          </td>
          <td> <a class="btn btn-primary" th:href="@{/surveyedit/{id}(id=${survey.id})}">Edit</a></td>
        </tr>
      </table>

      <a class="btn btn-success" href="/addsurvey">Add survey</a>
    </div>
  </body>
</html>
